div
  label(for="title") Title:
  input(type="text", name="title" value=book.title)
div
  label(for="author") Author:
  input(type="text", name="author" value=book.author)
div
  label(for="author") Genre:
  input(type="text", name="genre" value=book.genre)
div
  label(for="author") Year:
  input(type="text", name="year" value=book.year)
input(type="submit", value='Create New Book')